<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID"/>
    <customErrors mode="Off"/>
  </system.web>
  <connectionStrings>
    <add name="mzsycore" connectionString="server=32.188.144.8;database=mzsycore;uid=sa;pwd=sqlservermzsy"/>
    <add name="jsbmov" connectionString="Provider=IBMDADB2;Database=jsbmov;Hostname=32.188.32.212;Protocol=TCPIP; Port=60000;Uid=sjxf;Pwd=sjxf;"/>
  </connectionStrings>
  <appSettings>
    <!--<add key="Jigouma" value="410826"/>
    <add key="Farenhao" value="217"/>
    <add key="Kabin" value="621386004"/>
    <add key="YingyebuJigouma" value="410826001" />
    <add key="XiguoJigouma" value="410826002" />
    <add key="HuagongJigouma" value="410826003" />
    <add key="NanzhuangJigouma" value="410826004" />
    <add key="QingsuanzhongxinJigouma" value="410826900" />
    <add key="GuanlijigouJigouma" value="410826999" />
    <add key="JixiaoxitongYingyebuKHDXDH" value="47"/>
    <add key="JixiaoxitongXiguoKHDXDH" value="77"/>
    <add key="JixiaoxitongHuagongKHDXDH" value="86"/>
    <add key="JixiaoxitongNanzhuangKHDXDH" value="87"/>
    <add key="JixiaoxitongMZSYCZYHKHDXDH" value="40"/>-->
  </appSettings>
</configuration>